<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buyer Has Medicines</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-app = "demo">
<div  style="margin-top: 30px" ng-controller = "AppCtrl as ctrl" >
    <div class="container-fluid"><div class="panel panel-default">
        <div class="panel-heading"> Покупці-Медикаменти </div>
        <div class="datagrid">

            <table >
                <thead>
                <tr>
                    <th style="width: 30px; padding-left: 3px">id</th>
                    <th style="width: 190px; padding-left: 3px">Покупець</th>
                    <th style="width: 120px; padding-left: 3px">Медикамент</th>
                    <th style="width: 125px; padding-left: 3px">Дата замовлення</th>
                    <th style="width: 120px; padding-left: 3px">Дата отримання</th>
                    <th style="width: 140px; padding-left: 3px">Статус замовлення</th>
                    <th style="width: 100px; padding-left: 3px">ПІБ доктора</th>
                    <th style="width: 90px; padding-left: 3px">Діагноз</th>
                    <th style="width: 40px; padding-left: 5px">К-сть</th>
                    <th style="width: 90px">
                        <button style="width: 90px" type="button" class="btn btn-success"
                                data-toggle="modal" data-target="#addModal"
                                ng-click="ctrl.start_insert_buyer_has_medicines()"
                    >Add</button></th>

                </tr>
                </thead>

                <tbody>
                <tr ng-repeat = "item in buyer_has_medicines">

                    <td style="padding-left: 3px">{{item.id}}</td>
                    <td style="padding-left: 3px">{{item.buyer.pib}}</td>
                    <td style="padding-left: 3px">{{item.medicine.nameOfMedicine}}</td>
                    <td style="padding-left: 3px">{{item.datesOfOrderingAndReceiving.dateOfOrdering}}</td>
                    <td style="padding-left: 3px">{{item.datesOfOrderingAndReceiving.dateOfReceiving}}</td>
                    <td style="padding-left: 3px">{{item.datesOfOrderingAndReceiving.orderStatus.nameOfStatus}}</td>
                    <td style="padding-left: 3px">{{item.doctorPIB}}</td>
                    <td style="padding-left: 3px">{{item.diagnosis}}</td>
                    <td style="padding-left: 5px">{{item.amountOfMedicine}}</td>
                    <td ><button type="button" class="btn btn-warning"
                                data-toggle="modal" data-target="#updateModal"
                                ng-click="ctrl.start_update_buyer_has_medicines(item.id, item.doctorPIB,
                                item.diagnosis, item.amountOfMedicine)"
                    >Update</button>
                        <button type="button" class="btn btn-danger"
                                ng-click="ctrl.del_buyer_has_medicines(item.id)"
                        >Delete</button></td>

                </tr>

                </tbody>

            </table>
        </div>

        <!--add BuyerHasMedicines -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Додавання запису</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        Введіть Id
                        <input type="text" id="id">
                        <br>
                        Виберіть покупця
                        <select id="BuyerID" style="width: 475px">
                        </select>
                        <br>
                        Виберіть медикамент
                        <select id="MedicineID" style="width: 475px">
                        </select>
                        <br>
                        Виберіть дати отримання, замовлення і статус замовлення
                        <select id="DateID" style="width: 475px">
                        </select>
                        <br>
                        Введіть ПІБ лікаря
                        <input type="text" id="doctorPIB">
                        <br>
                        Введіть діагноз
                        <input type="text" id="diagnosis">
                        <br>
                        Введіть кількість медикаменту
                        <input type="text" id="amountOfMedicine">
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal">Закрити</button>
                        <button type="button"  ng-click="ctrl.insert_buyer_has_medicines()">Додати</button>
                    </div>
                </div>
            </div>
        </div>

        <!--update-->
        <div class="modal fade" id="updateModal" tabindex="-2" role="dialog" aria-labelledby="updateModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Редагування запису</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Виберіть покупця
                        <select id="BuyerIDUPD" style="width: 475px">
                        </select>
                        <br>
                        Виберіть медикамент
                        <select id="MedicineIDUPD" style="width: 475px">
                        </select>
                        <br>
                        Виберіть дати отримання, замовлення і статусу замовлення
                        <select id="DateIDUPD" style="width: 475px">
                        </select>
                        <br>
                        Введіть ПІБ лікаря
                        <input type="text" id="doctorPIBUPD">
                        <br>
                        Введіть діагноз
                        <input type="text" id="diagnosisUPD">
                        <br>
                        Введіть кількість медикаменту
                        <input type="text" id="amountOfMedicineUPD">
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" style="cursor:pointer"
                                data-dismiss="modal">Закрити</button>
                        <button type="button" style="cursor:pointer"
                                ng-click="ctrl.update_buyer_has_medicines()">Змінити</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    </div>
</div>
</body>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/buyersHasMedicines.js"></script>
</html>

