<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Type Of Medicine</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-app = "demo">
<div  style="margin-top: 30px" ng-controller = "AppCtrl as ctrl" >
    <div class="container-fluid"><div class="panel panel-default">
        <div class="panel-heading">Типи медикаментів</div>
        <div class="datagrid">

            <table >
                <thead>
                <tr>

                    <th style="width: 30px; padding-left: 3px">id</th>
                    <th style="padding-left: 3px">Назва типу</th>
                    <th style="padding-left: 3px">Загальний тип</th>
                    <th style="padding-left: 3px">Тип виготовлення</th>
                    <th style="width: 95px">
                        <button style="width: 95px" type="button" class="btn btn-success"
                                data-toggle="modal" data-target="#addModal"
                                ng-click="ctrl.start_insert_type_of_medicine()"
                    >Add</button></th>

                </tr>
                </thead>

                <tbody>
                <tr ng-repeat = "item in typeOfMedicine">

                    <td style="padding-left: 3px">{{item.id}}</td>
                    <td style="padding-left: 3px">{{item.nameOfType}}</td>
                    <td style="padding-left: 3px">{{item.generalType.nameOfGeneralType}}</td>
                    <td style="padding-left: 3px">{{item.typeOfProduction.nameOfType}}</td>
                    <td><button type="button" class="btn btn-warning"
                                data-toggle="modal" data-target="#updateModal"
                                ng-click="ctrl.start_update_type_of_medicine(item.id, item.nameOfType)"
                    >Update</button>
                        <button type="button" class="btn btn-danger"
                                ng-click="ctrl.del_type_of_medicine(item.id)"
                        >Delete</button></td>

                </tr>

                </tbody>

            </table>
        </div>

        <!--adding-->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Додавання запису</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        Введіть Id
                        <input type="text" id="id">
                        <br>
                        Введіть назву типу
                        <input type="text" id="typeName">
                        <br>
                        Виберіть загальний тип
                        <select id="generalType" style="width: 475px">
                        </select>
                        <br>
                        Виберіть тип виготовлення
                        <select id="productionType" style="width: 475px">
                        </select>
                        <br>

                    </div>
                    <div class="modal-footer">
                        <button type="button" style="cursor:pointer" data-dismiss="modal">Закрити</button>
                        <button type="button" style="cursor:pointer"  ng-click="ctrl.insert_type_of_medicine()">Додати</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Update-->
        <div class="modal fade" id="updateModal" tabindex="-2" role="dialog" aria-labelledby="updateModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Редагування запису</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Введіть назву типу
                        <input type="text" id="typeNameUPD">
                        <br>
                        Виберіть загальний тип
                        <select id="generalTypeUPD" style="width: 475px">
                        </select>
                        <br>
                        Виберіть тип виготовлення
                        <select id="productionTypeUPD" style="width: 475px">
                        </select>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" style="cursor:pointer"
                                data-dismiss="modal">Закрити</button>
                        <button type="button" style="cursor:pointer"
                                ng-click="ctrl.update_type_of_medicine()">Змінити</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    </div>
    </div>
</body>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/typeOfMedicine.js"></script>
</html>

