<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buyers</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body ng-app = "demo">
<div class="container" style="margin-top: 30px" ng-controller = "AppCtrl as ctrl" >
    <div class="row">
        <div class="col-md12">
            <div class="panel panel-default">
                <div class="panel-heading"> Buyers </div>
                <div class="panel-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>id</th>
                            <th>ПІБ</th>
                            <th>Вік</th>
                            <th><button type="button" class="btn btn-success"
                                        data-toggle="modal" data-target="#addModal"
                            >Add</button>
                            </th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat = "item in buyers">

                            <td>{{item.id}}</td>
                            <td>{{item.pib}}</td>
                            <td>{{item.age}}</td>
                            <td><button type="button" class="btn btn-warning">Update</button>
                                <button type="button" class="btn btn-danger"
                                        ng-click="ctrl.del_buyer(item.id)"
                                >Delete</button>
                            </td>

                        </tr>

                        </tbody>

                    </table>





                </div>
            </div>
        </div>
    </div>

    <!--insert buyer-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Додавання запису</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    Введіть Id Покупця
                    <input type="text" id="buyerId">
                    <br><br>
                    Введіть ПІБ покупця
                    <br>
                    <input type="text" id="buyerPIB">
                    <br>
                    Введіть вік покупця
                    <br>
                    <input type="text" id="buyerAge">
                </div>
                <div class="modal-footer">
                    <button type="button" style="cursor:pointer" data-dismiss="modal">Закрити</button>
                    <button type="button" style="cursor:pointer"  ng-click="ctrl.insert_kind_of_sport()">Додати</button>
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>